<!DOCTYPE html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        * {

            font-family: "Roboto", serif;
        }

        .color {
            color: #007bff;
        }

        .m-0 {
            margin: 0;
            padding: 0;
        }

        .text-capitalize {
            text-transform: capitalize;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        .invoice-header {
            text-align: right;
            border-bottom: 1px solid #dfdfdf;
        }

        .invoice-details {
            /* margin-top: 20px; */

        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 40px 0;
        }

        .thead {
            background: #cce5ff;
        }

        table,
        th,
        td {
            border: 0.7px solid black;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
        }

        strong {
            color: black;
        }

        p {
            margin: 0;
            color: #222;
            line-height: 1.6;
            /* font-size: 14px; */
            text-transform: capitalize;
        }

        .btn {
            text-decoration: none;
            color: inherit;
            font-weight: bold;
            border-radius: 5px;
            box-shadow: 0 0 10px #dfdfdf;
            padding: 10px 20px;
            background: #f31717;
            border: 1px solid;
            cursor: pointer;
        }

        .btn:hover {
            box-shadow: none;
        }

        strong {
            text-transform: capitalize;
        }

        .uppercase {
            text-transform: uppercase;
        }

        .badge {
            text-align: left;
        }

        .badgeSpan {
            border-radius: 5px;
            background-color: #d4edda;
            padding: 10px 40px;
        }

        .flex {
            padding: 20px 0;
            justify-content: space-between;
            display: flex;
            align-items: center;
        }

        .tblPay {
            border: 0;
            margin: 0;
            /* width: 35%; */
        }

        .tblPay th,
        .tblPay td {
            border: 1px solid #f9f9fb;
        }

        .flex img {
            width: 20px;
        }

        footer {
            margin-top: 40px;
            padding: 0 10px;
            background-color: #007bff51;
        }

        .p-2 {
            padding: 10px 0;
        }
    </style>
</head>

<body>
    <div class=""
        style="display: flex; justify-content: space-around; background:#dfdfdf; padding:10px ; box-shadow: 0 0 0px #dfdfdf; border-radius: 10px;">
        <button type="button" onclick="generatePDF()" class="btn">Export to PDF</button>
        <a href="/job/index" style="background-color: black; color: white;" class="btn ">Back</a>
    </div>
    <div id="divToExport">

        <div class="invoice-header">
            <br>
            <div class="badge">
                <span
                    class="<%=InvoiceData.job.invoice.IsPaid?'badgeSpan':''%>"><%=InvoiceData.job.invoice.IsPaid?'PAID':''%></span>
            </div>
            <h1 class="uppercase"><%=InvoiceData.job.companyId.companyName%></h1>
            <p>Address: <%=InvoiceData.job.companyId.address.street%>,<%=InvoiceData.job.companyId.address.suburb%>,
                <%=InvoiceData.job.companyId.address.postCode%></p>
            <p>ABN:<%= InvoiceData.job.companyId.bankDetails.ABN_number%></p>



        </div>
        <div class="flex">
            <div class="invoice-details">
                <p>Invoice To</p>
                <h2 class="uppercase m-0 color"><%=InvoiceData.job.contractorDetails.contractor.conName%></h2>
                <p><%=InvoiceData.job.contractorDetails.contractor.conAddress%></p>

            </div>
            <div style="text-align: right;">
                <h2 class="color m-0">INVOICE</h2>
                <p> INVOICE NO: <strong> <%=InvoiceData.job.invoice.invoiceNumber%></strong></p>

                <p>Invoice Date: <strong><%=InvoiceData.job.jobDate.toLocaleDateString(undefined, {
                    weekday: 'long',
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                  })%></strong></p>
            </div>

        </div>
        <input type="hidden" name="jobnumber" id="jobnumber" value="<%=InvoiceData.job.jobNumber%>">
        <!-- <div style="text-align: right;">
            <p>Job Location: <%=InvoiceData.job.location%></p>
            
            <p>Job Number: <strong> <%=InvoiceData.job.jobNumber%></strong></p>
            <p>Job Date: <%=InvoiceData.job.createdAt.toLocaleDateString(undefined, {
                weekday: 'long',
                year: 'numeric',
                month: 'long',
                day: 'numeric',
              })%></p>
        </div> -->

        <table>
            <tr class="thead">
                <th>Description</th>
                <th>Area (Sqm)</th>
                <th>Unit Price</th>
                <th>Total Price AUD:</th>
            </tr>
            <tr>
                <td>House Slabs</td>
                <td><%=InvoiceData.job.jobSize%></td>
                <td><%=InvoiceData.job.contractorDetails.unitPriceRate.toLocaleString("en-US", { style: "currency", currency: "USD" })%>
                </td>
                <td><%=InvoiceData.jobCharges.toLocaleString("en-US", { style: "currency", currency: "USD" })%></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <%if(InvoiceData.job.additionalCharges.length>0){%>
            <%for(let charges of InvoiceData.job.additionalCharges){%>
            <tr>
                <td></td>
                <td></td>
                <td><strong><%=charges.chargeInfo%></strong></td>
                <td><%=charges.charges.toLocaleString("en-US", { style: "currency", currency: "USD" })%></td>
            </tr>
            <%}%>
                <%}%>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><strong>Subtotal:</strong></td>
                <td><strong><%=InvoiceData.subtotal.toLocaleString("en-US", { style: "currency", currency: "USD" })%></strong>
                </td>
            </tr>

            <tr>
                <td></td>
                <td>GST</td>
                <td>10%</td>
                <td><%=InvoiceData.GST.toLocaleString("en-US", { style: "currency", currency: "USD" })%></td>
            </tr>



            <tr>
                <td></td>
                <td></td>
                <td><strong> Grand Total:</strong></td>
                <td><strong><%=InvoiceData.totalInvoice.toLocaleString("en-US", { style: "currency", currency: "USD" })%></strong>
                </td>
            </tr>
        </table>
        <div class="flex">
            <div>

                <table class="tblPay">
                    <tr>
                        <th colspan="2">
                            <h4 class="color uppercase m-0">bank details:</h4>
                        </th>
                    </tr>
                    <tr>
                        <th>Account name:</th>
                        <td><strong> <%=InvoiceData.job.companyId.companyName%></strong></td>
                    </tr>
                    <tr>
                        <th>BSB:</th>
                        <td><strong><%=InvoiceData.job.companyId.bankDetails.BSB%></strong></td>
                    </tr>
                    <tr>
                        <th>Account No:</th>
                        <td><strong><%=InvoiceData.job.companyId.bankDetails.accountNumber%></strong></td>
                    </tr>
                </table>
            </div>
            <div class="text-right">

                <table class="tblPay">
                    <tr>
                        <th colspan="2">
                            <h4 class="color uppercase m-0">Job Details:</h4>
                        </th>
                    </tr>
                    <tr>
                        <th>Job Location:</th>
                        <td><strong> <%=InvoiceData.job.location%></strong></td>
                    </tr>
                    <tr>
                        <th>Job Number: </th>
                        <td><strong><%=InvoiceData.job.jobNumber%></strong></td>
                    </tr>
                    <tr>
                        <th>Job Date:</th>
                        <td><strong>
                                <%=InvoiceData.job.createdAt.toLocaleDateString(undefined, {
                                weekday: 'long',
                                year: 'numeric',
                                month: 'long',
                                day: 'numeric',
                              })%>
                            </strong></td>
                    </tr>
                </table>
            </div>
        </div>

        <footer>
            <div class=" p-2" style="text-align: center; ">
                <p style="text-transform: capitalize !important;">Thanks for the buisness if any assistance please
                    contact <strong>
                        <%=InvoiceData.job.companyId.contactNumber%>
                        | <%=InvoiceData.job.companyId.email%></strong></p>
            </div>
        </footer>

    </div>

</body>

<script type="text/javascript">
    const jobnumber = document.querySelector("#jobnumber").value.trim();
    // console.log(jobnumber.toLowerCase())

    function generatePDF() {

        // Choose the element id which you want to export.
        var element = document.getElementById('divToExport');
        element.style.width = '700px';
        element.style.height = '1200px';
        var opt = {
            margin: 0.5,
            filename: `Invoice_${jobnumber}.pdf`,
            image: {
                type: 'jpeg',
                quality: 2
            },
            html2canvas: {
                scale: 2
            },
            jsPDF: {
                unit: 'in',
                format: 'Legal',
                orientation: 'portrait',
                precision: '12'
            }
        };

        // choose the element and pass it to html2pdf() function and call the save() on it to save as pdf.
        html2pdf().set(opt).from(element).save();
    }
</script>

</html>