<!DOCTYPE html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        .invoice-header {
            text-align: right;
        }

        .invoice-details {
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        .thead {
            background: #cce5ff;
        }

        table,
        th,
        td {
            border: 0.7px solid black;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
        }

        p {
            text-transform: capitalize;
        }

        .btn {
            font-weight: bold;
            border-radius: 5px;
            box-shadow: 0 0 10px #dfdfdf;
            padding: 10px 20px;
            background: #f31717;
            border: 1px solid;
            cursor: pointer;
        }

        .btn:hover {
            box-shadow: none;
        }

        strong {
            text-transform: capitalize;
        }

        .uppercase {
            text-transform: uppercase;
        }
    </style>
</head>

<body>
    <div style="background:#dfdfdf; padding:10px ; box-shadow: 0 0 0px #dfdfdf; border-radius: 10px;">
        <button type="button" onclick="generatePDF()" class="btn">Export to PDF</button>
    </div>
    <div id="divToExport">
        <div class="invoice-header">
            <h1 class="uppercase"><%=InvoiceData.job.companyId.companyName%></h1>
            <p>Address: <%=InvoiceData.job.companyId.address.street%>,<%=InvoiceData.job.companyId.address.suburb%>,
                <%=InvoiceData.job.companyId.address.postCode%></p>
            <p>ABN:<%= InvoiceData.job.companyId.bankDetails.ABN_number%></p>
            <hr />

            <h3>INVOICE</h3>
            <p> INVOICE NO: <strong> <%=InvoiceData.job.invoice.invoiceNumber%></strong></p>

            <p>INVOICE DATE: <%=InvoiceData.job.jobDate.toLocaleDateString(undefined, {
                weekday: 'long',
                year: 'numeric',
                month: 'long',
                day: 'numeric',
              })%></p>
        </div>

        <div class="invoice-details">
            <p>To</p>
            <h3 class="uppercase"><%=InvoiceData.job.contractorDetails.contractor.conName%></h3>
            <p><%=InvoiceData.job.contractorDetails.contractor.conAddress%></p>

        </div>
        <div style="text-align: right;">
            <p>Job Location: <%=InvoiceData.job.location%></p>
            <input type="hidden" name="jobnumber" id="jobnumber" value="<%=InvoiceData.job.jobNumber%>">
            <p>Job Number: <%=InvoiceData.job.jobNumber%></p>
            <p>Job Date: <%=InvoiceData.job.createdAt.toLocaleDateString(undefined, {
                weekday: 'long',
                year: 'numeric',
                month: 'long',
                day: 'numeric',
              })%></p>
        </div>

        <table>
            <tr class="thead">
                <th>Description</th>
                <th>Area (Sqm)</th>
                <th>Unit Price</th>
                <th>Total Price AUD:</th>
            </tr>
            <tr>
                <td>House Slabs</td>
                <td><%=InvoiceData.job.jobSize%></td>
                <td><%=InvoiceData.job.contractorDetails.unitPriceRate.toLocaleString("en-US", { style: "currency", currency: "USD" })%>
                </td>
                <td><%=InvoiceData.jobCharges.toLocaleString("en-US", { style: "currency", currency: "USD" })%></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <%if(InvoiceData.job.additionalCharges.length>0){%>
            <%for(let charges of InvoiceData.job.additionalCharges){%>
            <tr>
                <td></td>
                <td></td>
                <td><strong><%=charges.chargeInfo%></strong></td>
                <td><%=charges.charges.toLocaleString("en-US", { style: "currency", currency: "USD" })%></td>
            </tr>
            <%}%>
                <%}%>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><strong>Subtotal:</strong></td>
                <td><strong><%=InvoiceData.subtotal.toLocaleString("en-US", { style: "currency", currency: "USD" })%></strong>
                </td>
            </tr>

            <tr>
                <td></td>
                <td>GST</td>
                <td>10%</td>
                <td><%=InvoiceData.GST.toLocaleString("en-US", { style: "currency", currency: "USD" })%></td>
            </tr>



            <tr>
                <td></td>
                <td></td>
                <td><strong> Grand Total:</strong></td>
                <td><strong><%=InvoiceData.totalInvoice.toLocaleString("en-US", { style: "currency", currency: "USD" })%></strong>
                </td>
            </tr>
        </table>
        <h4>Please pay the above amount to:</h4>
        <hr />

        <p>Account name: <strong> <%=InvoiceData.job.companyId.companyName%></strong></p>
        <p>BSB: <strong><%=InvoiceData.job.companyId.bankDetails.BSB%></strong></p>
        <p>Acc. No: <strong><%=InvoiceData.job.companyId.bankDetails.accountNumber%></strong></p>
    </div>
</body>

<script type="text/javascript">
    const jobnumber = document.querySelector("#jobnumber").value.trim();
    // console.log(jobnumber.toLowerCase())

    function generatePDF() {

        // Choose the element id which you want to export.
        var element = document.getElementById('divToExport');
        element.style.width = '700px';
        element.style.height = '1200px';
        var opt = {
            margin: 0.5,
            filename: `Invoice_${jobnumber}.pdf`,
            image: {
                type: 'jpeg',
                quality: 2
            },
            html2canvas: {
                scale: 2
            },
            jsPDF: {
                unit: 'in',
                format: 'Legal',
                orientation: 'portrait',
                precision: '12'
            }
        };

        // choose the element and pass it to html2pdf() function and call the save() on it to save as pdf.
        html2pdf().set(opt).from(element).save();
    }
</script>

</html>