<% layout('../includes/layout.ejs') %>

<section>
    <h1 class="alert  alert-success">Create a Job</h1>
    <hr>
    <div class="card p-4">
        <%if(validateError && validateError.length){%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong> <%=validateError %></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <%}%>
        <form class="" method="post" novalidate>
            <!-- <div class="form-row align-items-center flex">
                <div class="col-md-10 mb-5">
                    <label for="">Select Contractor</label>
                    <select class="form-control"  id="contractor" name="contractor">
                        <option value="">Select Company</option>
                        <option value="">Cormack Company</option>
                        <option value="">boutique Company</option>
                        <option value="/admin/"><a href="" class="btn btn-info btn-sm">Create new Contractor</a></option>
                    </select>
                    
                </div>
                <div class="col-md-2 mb-2 text-center">
                    <a href="" class="btn btn-info btn-sm">Create new Contractor</a>
                    
                </div>
   
            </div> -->
            <label for="">Select Contractor </label>
            <br>
            <div for="inlineRadio1" class="form-check form-check-inline badge badge-warning p-3">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Cormack Company</label>
              </div>
              <div class="form-check form-check-inline badge badge-warning p-3">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Boutique</label>
              </div>
              <div class="form-check form-check-inline badge badge-warning p-3">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" >
                <label class="form-check-label" for="inlineRadio3">Private Job</label>
              </div>
              
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="">Job Number</label>
            <input type="text" class="form-control" id="jobNumber" name="jobNumber" value="<%=formData.jobNumber%>"
        required>
        <div class="invalid-feedback">
            Job Number is required field
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <label for="">job date
        </label>
        <input type="date" class="form-control" id="jobDate" name="jobDate"
            value="<%= (formData.jobDate)?formData.jobDate.toISOString().split('T')[0]:''%>" required>
        <div class="invalid-feedback">
            Please provide job Date
        </div>
    </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="location">location</label>
            <input type="text" class="form-control" id="location" value="<%=formData.location%>" name="location"
                required>
            <div class="invalid-feedback">
                Please provide a valid location.
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="jobSize">Job size </label>
            <input type="text" class="form-control" value="<%=formData.jobSize%>" id="jobSize" name="jobSize">
        </div>
        <!-- <div class="col-md-12 mb-6">
            <label for="comment">comment <i>(optional)</i></label>
            <textarea rows="3" class="form-control" id="comment" name="comment"></textarea>

        </div> -->

    </div>
    <hr>
    <button class="btn btn-success" type="submit">Add New Job</button>
    <a href="/admin/" class="btn btn-dark">Cancel</a>
    </form>
    </div>



</section>