<% layout('../includes/layout.ejs') %>

<section>
    <h1 class="alert  alert-success">Create a Job</h1>
    <hr>
    <div class="card p-4">
        <%if(validateError && validateError.length){%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong> <%=validateError %></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <%}%>
        <form class="" method="post" novalidate>
          
            
    <div class="form-row align-items-center">
        <div class="col-md-12">
           
            <label for="">Select Contractor <i>(Job provider)</i> </label>
            <%if(contractors.length<=1){%>
        <div class="input-group is-invalid">
            <div class="custom-file">
                <input type="text" value="<%=contractors[0].conName%>" readonly class="custom-file-input form-control">
                <input type="hidden" id="contractorId" name="contractorId" value="<%=contractors[0]._id%>">
            </div>
            <div class="input-group-append">
                <a href="/contractor/create" class="btn btn-outline-warning" type="button">Create New Contractor</a>
            </div>
        </div>
        <br>
        <%}else{%>
        <select name="contractorId" id="contractorId" class="form-control ">
            <option value="">Select Contractor</option>

            <%for(let c of contractors){%>
            <option <%=(formData.contractorId?.toString()===c._id?.toString())?'selected':''%> value="<%=c._id%>">
                <%=c.conName%>
            </option>

            <%}%>
                     <option value="add" class="btn btn-danger " data-toggle="tooltip" data-placement="top" title="Tooltip on top"> add new contractor</option>
                        </select>
                        <br>
                    <%}%>


    </div>

    <div class="col-md-6 mb-3">
        <label for="">Job Number</label>
        <input type="text" class="form-control" id="jobNumber" name="jobNumber" value="<%=formData.jobNumber%>"
            required>
        <div class="invalid-feedback">
            Job Number is required field
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <label for="">job date
        </label>
        <input type="date" class="form-control" id="jobDate" name="jobDate"
            value="<%= (formData.jobDate)?formData.jobDate.toISOString().split('T')[0]:''%>" required>
        <div class="invalid-feedback">
            Please provide job Date
        </div>
    </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="location">location</label>
            <input type="text" class="form-control" id="location" value="<%=formData.location%>" name="location"
                required>
            <div class="invalid-feedback">
                Please provide a valid location.
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="jobSize">Job size </label>
            <input type="text" class="form-control" value="<%=formData.jobSize%>" id="jobSize" name="jobSize">
        </div>
        <!-- <div class="col-md-12 mb-6">
            <label for="comment">comment <i>(optional)</i></label>
            <textarea rows="3" class="form-control" id="comment" name="comment"></textarea>

        </div> -->

    </div>
    <hr>
    <button class="btn btn-success" type="submit">Add New Job</button>
    <a href="/admin/" class="btn btn-dark">Cancel</a>
    </form>
    </div>



</section>