<% layout('../includes/layout.ejs') %>

<section>
    <h1 class="text-capitalize alert alert-info">Jobs</h1>
    <hr>
    <%if(jobs.length<=0){%>
    <h6 class="alert alert-warning block text-center">There no job details <a href="/job/create"
            class="btn btn-sm btn-dark">Start
            to add
            job</a>
    </h6>
    <%}else{%>
    <table class="table table-bordered text-center table-striped table-responsive-md  text-capitalize">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">job number</th>
                <th scope="col">location</th>
                <th scope="col">date</th>
                <th scope="col">Payment status</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
            <%for(let job of jobs){%>
            <tr class="middle">
                <th scope="row"><%=rows++%></th>

                <td>
                    <h6 class="m-0">
                        <p class="badge badge-info"># <%=job.jobNumber%></p>
                    </h6>
                </td>
                <td>
                    <p><%=job.location%></p>
                </td>
                <td>
                    <p><%=job.jobDate.toLocaleDateString('en-Au', { 
                        year: 'numeric', 
                        month: 'long', 
                        day: '2-digit' 
                      })%></p>
                </td>
                <td>
                    <p><span
                            class="alert <%=(job.invoice.IsPaid)?'alert-success':'alert-warning'%>"><%=(job.invoice.IsPaid)?'Done':'Pending'%></span>
                    </p>
                </td>
                <td>
                    <div class="">
                        <a href="/job/view/<%=job._id%>/<%=currentUser.companyId%>"
                            class="btn btn-sm btn-primary">View</a>

                    </div>
                </td>
            </tr>
            <%}%>
        </tbody>
    </table>
    <%}%>
            <hr>
            <p>Pages</p>
            <% if (currentPage > 10) { %>
            <% } %>
            <div class="text-center">
                <nav aria-label="Page navigation example">

                    <ul class="pagination">
                        <% if (currentPage > 1) { %>
                        <li class="page-item"><a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a></li>

                        <% } %>
                        <% for (let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item"><a class="page-link <%= i === currentPage ? 'active' : '' %>"
                                href="?page=<%= i %>">
                                <%= i %>
                            </a></li>

                        <% } %>

                        <% if (currentPage < totalPages) { %>
                        <li class="page-item"><a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a></li>


                        <% } %>
                    </ul>
                </nav>
            </div>

</section>