<% layout('../includes/layout.ejs') %>

<section>
    <div class="actionbtn flex py-3">
        <form action="/job/delete/<%=job._id%>" method="post">
            <input type="hidden" name="jobId" value="<%=job._id%>">
            <button onclick="return confirm('Are you sure to delete job details parmanently?')"
                class="btn btn-danger">Delete</button>
        </form>


        <button type="button" class="btn  btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add additional Charges
        </button>

        <a href="/job/edit/<%=job._id%>" class="btn btn-info shadow"> Edit Details</a>

        <a href="/job/genrate/<%=job._id%>" class="btn  btn-success shadow">Download Invoice</a>

        <form action="/job/invoicestatus/<%=job._id%>" method="post">
            <input type="hidden" name="jobId" value="<%=job._id%>">
            <%if(!job.invoice.IsPaid){%>
            <button type="submit" class="btn shadow btn-warning"> Is Invoice
                Paid</a>
                <%}else{%>
                <button type="submit" data-toggle="tooltip" data-placement="top"
                    title="This  action will change the invoice status to pending"
                    onclick="return confirm('This action will change invoice status to pending invoice. Are you sure to process?')"
                    class="btn shadow btn-danger"> Change
                    Status</a>
                    <%}%>
        </form>

        <!-- <%if(!job.isInvoiceGenrate){%>
                    <form action="/job/genrate" method="post" style="display: inline-block;">
                        <input type="hidden" name="totalInvoiceAmount" value="<%=totalInvoice%>">
                        <input type="hidden" name="jobId" value="<%=job._id%>">
                        <input type="hidden" name="username" value="<%=job.username%>">


                    </form>
                    <%}else{%>
                    <button class="btn btn-success" disabled>Genrated</button>

                    <%}%> -->

    </div>
    <div class="card p-4 shadow">
        <h1 class="alert alert-primary text-capitalize">Job details</h1>
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header alert alert-warning">
                        <b>Job Contractor</b>
                    </div>
                    <div class="card-body">


                        <strong><%=job.contractorDetails.contractor.conName%></strong>
                    <span class="">
                        <p><%=job.contractorDetails.contractor.conAddress%></p>
                    </span>
    </div>


    </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header alert alert-info">
                <b>Payment Status</b>
            </div>
            <div class="card-body flex ">
                <div>
                    <strong>Invoice Number : </strong>
                    <h5>
                        <span class="badge badge-warning"><%=job.invoice.invoiceNumber%></span>

                    </h5>

                </div>
                <div>
                    <span
                        class="alert <%=job.invoice.IsPaid?'alert-success':'alert-danger'%>"><%=job.invoice.IsPaid?'Payment Done':'Pending'%></span>
                </div>


            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header  alert-success">
                <b>Job Details</b>
            </div>
            <div class="card-body">
                <div>

                    <h5 class="m-0"> <small>Job number :</small> <span class="badge badge-primary ">
                            #<%=job.jobNumber%></span></h5>
                </div>


                <span> <b>Job location : </b> <%=job.location%></span>
                <br>
                <span><b>Job date : </b> <%=job.jobDate.toLocaleDateString(undefined, {
                    weekday: 'long',
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                  })%></span>
            </div>

        </div>
    </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-4">
            <%if(job.comment){%>
            <div class="card alert alert-warning">
                <h4>Comment</h4>
                <p><%=job.comment%></p>
            </div>
            <%}%>
            <br>
           
    </div>
    <div class="col-md-8"></div>

    </div>
    <table class="table table-bordered text-capitalize mt-4">
        <thead class="alert alert-primary">
            <tr>
                <th>Descripation</th>
                <th>area (Sqm)</th>
                <th>unit price</th>
                <th>total price AUD</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>houseslable</td>
                <td><%=job.jobSize%></td>
            <td><%=job.contractorDetails.unitPriceRate.toLocaleString("en-US", { style: "currency", currency: "USD" })%>
            </td>
            <td><%=jobCharges.toLocaleString("en-US", { style: "currency", currency: "USD" })%></td>

            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <%if(job.additionalCharges.length>0){%>
            <%for(let charges of job.additionalCharges){%>
            <tr>
                <td></td>
                <td></td>
                <td><strong><%=charges.chargeInfo%></strong></td>
                <td><%=charges.charges.toLocaleString("en-US", { style: "currency", currency: "USD" })%></td>
            </tr>
            <%}%>
            <%}%>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="alert alert-dark">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><strong>Subtotal:</strong></td>
                <td><%=subtotal.toLocaleString("en-US", { style: "currency", currency: "USD" })%></td>

            </tr>
            <tr>
                <td></td>
                <td><strong>GST</strong></td>
                <td><strong>10%</strong></td>

                <td><%=GST.toLocaleString("en-US", { style: "currency", currency: "USD" })%></td>

            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><strong>Grand Total</strong></td>

                <td><%=totalInvoice.toLocaleString("en-US", { style: "currency", currency: "USD" })%></td>

            </tr>
            </tbody>
            </table>
        </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title alert alert-primary" id="exampleModalLabel">Additional Charges</h5>
                <button type="button" class="close btn btn-outline-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/job/charges/" method="post" novalidate class="needs-validation">
                    <input type="hidden" name="jobId" value="<%=job._id%>">
                    <input type="hidden" name="companyId" value="<%=job.companyId._id%>">
                    <div class="form-group">
                        <label for="chargesInfo">Charges Info</label>
                        <input type="text" class="form-control" id="chargesInfo" name="chargesInfo" required
                            aria-describedby="emailHelp">
                        <div class="invalid-feedback">
                            Please provide a Charges Details
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="charges">charges</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">$</div>
                            </div>
                            <input type="number" required class="form-control" id="charges" name="charges"
                                placeholder="charges">
                            <div class="invalid-feedback">
                                Provide charges value
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Update</button>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    var element = document.getElementById('test');
    var options = {
        filename: 'test.pdf'
    };
    domToPdf(element, options, function (pdf) {
        console.log('done');
    });
</script>