<% layout('../includes/companyLayout.ejs') %>
<style>
    .form-group>div>div {
        margin-bottom: 15px;
    }

    .step-form {
        max-width: auto;
        margin: 0 auto;
    }



    .step-form .step.active {
        display: block;
    }

    .step-form .progress {
        height: 2px;
    }

    .step-form .progress-bar {
        width: 0;
    }
</style>
<sectdion>
    <h4 class="alert alert-success">Edit Company Details</h4>

    <div class="container">

        <div class="card p-4 step-form">

            <form action="" method="post">
                <%if(validateError && validateError.length){%>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong> <%=validateError %></strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <%}%>
                <!-- Step 1 -->
                <div class="step active">
                    <h6 class="alert alert-warning">Company's basic Info</h6>
                    <hr>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="firstName">Company Name</label>
                                <input type="text" class="form-control" value="<%=formData.companyName%>"
                id="companyName" name="companyName">
        </div>
        <div class="col-md-6">
            <label for="firstName">contact number</label>
            <input type="text" class="form-control" value="<%=formData.contactNumber%>" id="contactNumber"
                name="contactNumber">
        </div>
        <div class="col-md-6">
            <label for="firstName">email address</label>
            <input type="email" class="form-control" id="email" value="<%=formData.email%>" name="email">
        </div>
        <div class="col-md-6">
            <label for="firstName">company's logo (<i>optional</i>)</label>
            <input type="file" class="form-control" id="logo" name="logo">
        </div>
    </div>


    </div>

    </div>

    <!-- Step 2 -->
    <div class="step">
        <h6 class="alert alert-warning">Address info</h6>
        <div class="form-group" novalidation>
            <div class="row">
                <div class="col-md-6">
                    <label for="">street adress</label>
                    <input type="text" class="form-control" value="<%=formData.address?.street%>" id="address[street]"
                        name="address[street]">
                </div>
                <div class="col-md-6">
                    <label for="">suburb name</label>
                    <input type="text" class="form-control" value="<%=formData.address?.suburb%>" id="address[suburb]"
                        name="address[suburb]">
                </div>
                <div class="col-md-6">
                    <label for="">post code</label>
                    <input type="number" class="form-control" value="<%=formData.address?.postCode%>"
                        id="address[postCode]" name="address[postCode]">
                </div>
                <div class="col-md-6">

                </div>
            </div>

        </div>

    </div>

    <!-- Step 6 -->
    <div class="step">
        <h6 class="alert alert-warning">Compnay's Account Details</h6>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="">ABN number</label>
                    <input type="number" class="form-control" value="<%=formData.bankDetails?.ABN_number%>"
                        id="bankDetails[ABN_number]" name="bankDetails[ABN_number]">
                </div>
                <div class="col-md-6">
                    <label for="">bank name</label>
                    <input type="text" class="form-control" value="<%=formData.bankDetails?.bankName%>"
                        id="bankDetails[bankName]" name="bankDetails[bankName]">
                </div>
                <div class="col-md-6">
                    <label for="">BSB number</label>
                    <input type="number" class="form-control" value="<%=formData.bankDetails?.BSB%>"
                        id="bankDetails[BSB]" name="bankDetails[BSB]">
                </div>
                <div class="col-md-6">
                    <label for="">account number</label>
                    <input type="number" class="form-control" value="<%=formData.bankDetails?.accountNumber%>"
                        id="bankDetails[accountNumber]" name="bankDetails[accountNumber]">
                </div>
            </div>

        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="" class="btn btn-dark"> Cancel</a>

    </div>
    </form>
    </div>

    </div>
    </section>