<% layout('../includes/companyLayout.ejs') %>

<div class="infoBox">
    <div class="text-right">
        <a href="/company/edit" class="btn btn-warning">Edit</a>
        <hr>
    </div>
    <h3 class="alert alert-info">Basic Information</h3>
    <table class="table table-bordered text-capitalize table-striped">

        <tr>
            <td>
                <h6 class="m-0">company name</h6>
            </td>
            <td>
                <p class="m-0"><%=companyData.companyName%></p>
            </td>
        </tr>
        <tr>
            <td>
                <h6 class="m-0">contact number</h6>
            </td>
            <td>
                <p class="m-0"><%=companyData.contactNumber%></p>
            </td>
        </tr>

        <tr>
            <td>
                <h6 class="m-0">email</h6>
            </td>
            <td>
                <p class="m-0"><%=companyData.email%></p>
            </td>
        </tr>

    </table>
</div>
<div class="infoBox">
    <h3 class="alert alert-primary">Address</h3>
    <table class="table table-bordered text-capitalize table-striped">

        <tr>
            <td>
                <h6 class="m-0">street address</h6>
            </td>
            <td>
                <p class="m-0"><%=companyData.address.street%></p>
            </td>
        </tr>
        <tr>
            <td>
                <h6 class="m-0">suburb</h6>
            </td>
            <td>
                <p class="m-0"><%=companyData.address.suburb%></p>
            </td>
        </tr>

        <tr>
            <td>
                <h6 class="m-0">post code</h6>
            </td>
            <td>
                <p class="m-0"><%=companyData.address.postCode%></p>
            </td>
        </tr>

    </table>
</div>
<div class="infoBox">
    <h3 class=" alert alert-danger">Account Details</h3>
    <table class="table table-bordered text-capitalize table-striped">
        <tr>
            <td>
                <h6 class="m-0">bank name</h6>
            </td>
            <td>
                <p class="m-0"><%=companyData.bankDetails.bankName%></p>
            </td>
        </tr>

        <tr>
            <td>
                <h6 class="m-0">ABN number</h6>
            </td>
            <td>
                <p class="m-0"><%=companyData.bankDetails.ABN_number%></p>
            </td>
        </tr>
        <tr>
            <td>
                <h6 class="m-0">BSB</h6>
            </td>
            <td>
                <p class="m-0"><%=companyData.bankDetails.BSB%></p>
            </td>
        </tr>

        <tr>
            <td>
                <h6 class="m-0">Account Number</h6>
            </td>
            <td>
                <p class="m-0"><%=companyData.bankDetails.accountNumber%></p>
            </td>
        </tr>

    </table>
</div>